<div class="container">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Cédula del Cliente" aria-label="Cédula del cliente" [(ngModel)]="recibo.cedula">
      </div>
      <div class="col">
        
      </div>
      <div class="col">
        
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Adicionar Producto
        </button>
      </div>
      <div class="col">
        <h1>Total a Pagar</h1>
      </div>
      <div class="col">
        <h1>$ {{reciboVal_Total}} </h1>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prodSel of ordenesSelect; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{prodSel.producto.id_Producto}}</td>
            <td>{{prodSel.producto.descripcion}}</td>
            <td>
              <input type="number" min="1" max="50" value="{{prodSel.cantidad}}" (change)="cambiarValorTotal(prodSel.producto.id_Producto)"> 
            </td>
            <td>{{prodSel.valor_total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="guardarCompra()">Guardar Compra</button>
      </div>
      <div class="col">
        
      </div>
      <div class="col"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Nuevo Pedido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row g-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary">Buscar</button>
                </div>
            </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"># Id</th>
                    <th scope="col">Nombre del Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let prod of productos">
                    <th scope="row">{{ prod.id_Producto }}</th>
                    <td>{{ prod.descripcion }}</td>
                    <td>{{ prod.cantidad }}</td>
                    <td>{{ prod.precio }}</td>
                    <td>
                      <input type="checkbox" [(ngModel)]="prod.checked">
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="seleccionarItems()">Seleccionar Productos</button>
        </div>
      </div>
    </div>
  </div>

